{% set version = latest_content_version %}
{% set copyright = "2021" %}
{%- set images_list %}
  {%- if license_type == "payg" -%}
%PAYG_BEST%
     {%- if type == "autoscale" and solution == "waf" %}
%PAYG_AWAF%
     {%- else %}
%PAYG_OTHERS%
     {%- endif %}
   {%- else %}
%BYOL%
   {%- endif %}
{%- endset %}
{%- set images_list_default %}
  {%- if license_type == "payg" -%}%PAYG_BEST_25MBPS%
   {%- else %}%BYOL_ALL_2LOC%
   {%- endif %}
{%- endset %}
